In [1]:
import pandas as pd

In [3]:
file_path = 'cement_prices.csv'

# Read the CSV file into a DataFrame
historical_cement_prices = pd.read_csv(file_path)
historical_cement_prices

,id,price_updated_by,competitor_structure_id,market_id,company_id,current_price,new_price,transaction_status,comment,action_by_id,last_approved_price,visability,serviceUpdate,no_change,createdDate,action_date,createdAt,updatedAt,deletedAt,competitors_structure_id
0,26227,NaN,340,157,146,0.0,0.0,2,NaN,NaN,NaN,NaN,1.0,NaN,'2022-05-24 21:01:10',NaN,'2022-05-24 21:01:10','2023-06-19 14:05:15',NaN,NaN
1,26228,NaN,341,157,146,0.0,0.0,2,NaN,NaN,NaN,NaN,1.0,NaN,'2022-05-24 21:01:11',NaN,'2022-05-24 21:01:11','2023-06-19 14:05:15',NaN,NaN
2,26229,NaN,342,157,146,0.0,0.0,2,NaN,NaN,NaN,NaN,1.0,NaN,'2022-05-24 21:01:12',NaN,'2022-05-24 21:01:12','2023-06-19 14:05:15',NaN,NaN
3,26277,NaN,340,157,146,0.0,0.0,2,NaN,NaN,NaN,NaN,1.0,NaN,'2022-05-25 21:01:10',NaN,'2022-05-25 21:01:10','2023-06-19 14:05:15',NaN,NaN
4,26278,NaN,341,157,146,0.0,0.0,2,NaN,NaN,NaN,NaN,1.0,NaN,'2022-05-25 21:01:11',NaN,'2022-05-25 21:01:11','2023-06-19 14:05:15',NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121077,266108,431.0,397,152,146,2140.0,2140.0,1,NaN,NaN,2140.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121078,266109,431.0,1071,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121079,266110,431.0,1073,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121080,266111,431.0,628,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121081,266112,431.0,1225,152,146,2050.0,2050.0,1,NaN,NaN,2050.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN

In [4]:
historical_cement_prices = historical_cement_prices[historical_cement_prices['current_price'] != 0]
historical_cement_prices

,id,price_updated_by,competitor_structure_id,market_id,company_id,current_price,new_price,transaction_status,comment,action_by_id,last_approved_price,visability,serviceUpdate,no_change,createdDate,action_date,createdAt,updatedAt,deletedAt,competitors_structure_id
897,27453,NaN,428,147,146,1300.0,1300.0,2,NaN,395.0,1300.0,NaN,NaN,NaN,'2022-06-01 10:22:08','2022-06-01 14:49:36','2022-06-01 10:22:08','2023-06-19 14:05:15',NaN,NaN
898,27454,NaN,429,147,146,1300.0,1300.0,2,NaN,395.0,1300.0,NaN,NaN,NaN,'2022-06-01 10:22:11','2022-06-01 14:49:37','2022-06-01 10:22:11','2023-06-19 14:05:15',NaN,NaN
900,27456,NaN,428,147,146,1300.0,1300.0,2,NaN,395.0,1300.0,NaN,NaN,NaN,'2022-06-01 10:25:54','2022-06-01 14:49:43','2022-06-01 10:25:54','2023-06-19 14:05:15',NaN,NaN
901,27457,NaN,429,147,146,1300.0,1300.0,2,NaN,395.0,1300.0,NaN,NaN,NaN,'2022-06-01 10:25:57','2022-06-01 14:49:45','2022-06-01 10:25:57','2023-06-19 14:05:15',NaN,NaN
902,27458,NaN,419,147,146,1260.0,1260.0,2,NaN,395.0,1260.0,NaN,NaN,NaN,'2022-06-01 10:26:04','2022-06-01 14:49:50','2022-06-01 10:26:04','2023-06-19 14:05:15',NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121077,266108,431.0,397,152,146,2140.0,2140.0,1,NaN,NaN,2140.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121078,266109,431.0,1071,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121079,266110,431.0,1073,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121080,266111,431.0,628,152,146,2120.0,2120.0,1,NaN,NaN,2120.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN
121081,266112,431.0,1225,152,146,2050.0,2050.0,1,NaN,NaN,2050.0,1.0,NaN,0.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14',NaN,NaN

In [5]:
columns_to_drop = ['comment','visability','serviceUpdate', 'no_change','deletedAt','competitors_structure_id','id', 'competitor_structure_id']
historical_cement_prices = historical_cement_prices.drop(columns_to_drop, axis=1)
historical_cement_prices

,price_updated_by,market_id,company_id,current_price,new_price,transaction_status,action_by_id,last_approved_price,createdDate,action_date,createdAt,updatedAt
897,NaN,147,146,1300.0,1300.0,2,395.0,1300.0,'2022-06-01 10:22:08','2022-06-01 14:49:36','2022-06-01 10:22:08','2023-06-19 14:05:15'
898,NaN,147,146,1300.0,1300.0,2,395.0,1300.0,'2022-06-01 10:22:11','2022-06-01 14:49:37','2022-06-01 10:22:11','2023-06-19 14:05:15'
900,NaN,147,146,1300.0,1300.0,2,395.0,1300.0,'2022-06-01 10:25:54','2022-06-01 14:49:43','2022-06-01 10:25:54','2023-06-19 14:05:15'
901,NaN,147,146,1300.0,1300.0,2,395.0,1300.0,'2022-06-01 10:25:57','2022-06-01 14:49:45','2022-06-01 10:25:57','2023-06-19 14:05:15'
902,NaN,147,146,1260.0,1260.0,2,395.0,1260.0,'2022-06-01 10:26:04','2022-06-01 14:49:50','2022-06-01 10:26:04','2023-06-19 14:05:15'
...,...,...,...,...,...,...,...,...,...,...,...,...
121077,431.0,152,146,2140.0,2140.0,1,NaN,2140.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14'
121078,431.0,152,146,2120.0,2120.0,1,NaN,2120.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14'
121079,431.0,152,146,2120.0,2120.0,1,NaN,2120.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14'
121080,431.0,152,146,2120.0,2120.0,1,NaN,2120.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14'
121081,431.0,152,146,2050.0,2050.0,1,NaN,2050.0,'2023-12-11 11:06:14',NaN,'2023-12-11 11:06:14','2023-12-11 11:06:14'